body{
  font-family: Arial;
  font-size: 12px;
}
.label {
  color: #58595B;
  float: left;
  font-size: 12px;
  font-weight: normal;
  padding-right: 10px;
  text-align: left;
  width: 200px;
}

dl {
    margin-bottom:50px;
}

dl dt {
    color:#000;
    float:left;
    font-weight:bold;
    margin-right:10px;
    padding:5px;
    width:250px;
}

dl dd {
    margin:2px 0;
    padding:5px 0;
}
input[type="text"] {
    width: 215px;
}
textarea {
  width: 215px;
}
h2 {
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 20px;
    text-align: center;
}
#qdbform{
  background: none repeat scroll 0 0 #E9E9E7;
  border-radius: 20px 20px 20px 20px;
  margin: 0 auto;
  padding: 15px;
  width: 700px;
}

.form_submit {
    text-align: center;
}
.form_submit input{
  font-size: 16px;
}